
body{
  background: #1a1a1d;
  height: 200vh;
}


.menu {
  /*margin: 5px;
  padding-top: 30px;
  padding-left: 1400px;*/
  margin: 5px;
  padding-top: 30px;
  position: absolute;
  left: 73%;

}


hr{
  height: 2px;
  border-radius: 20px;
  color: #c2cad0;

}


hr:hover{
  background-color: #c3073f;
}

ul{
  margin: 0;
  padding: 0;
  display: flex;

}


ul li{
  list-style: none;
  margin: 0 30px;
  transition: 0.5s;

}

ul li a{
  display: block;
  position: relative;
  text-decoration: none;
  padding: 5px;
  font-size: 18px;
  font-family: sans-serif;
  color: #fff;
  text-transform: uppercase;
  transition: 0.5s;
}

ul:hover li .one{
  transform: scale(1);
  opacity: 0.2;
  filter: blur(5px);

}

ul li .one:hover{
  transform: scale(1.7);
  opacity: 1;
  filter: blur(0);
  color: white;
}

ul li .one:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #c3073f;
  border-radius: 7px;
  transition: transform 0.6s;
  transform-origin: right;
  transform: scale(0);
  z-index: -1;
}

ul li .one:hover:before{

  transition: transform 0.5;
  transform-origin: left;
  transform: scaleX(1);
}

.text{
  text-transform: uppercase;
  font-size: 200px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: white;
  padding-top: 250px;
  padding-bottom: 0;
  margin-bottom: 0;

}

.texttwo{
  color: #c3073f;
  text-transform: uppercase;
  font-size: 50px;
  font-family: 'Karla', sans-serif;
  padding-top: 0;
  margin-top: 0;
  letter-spacing: 8px;
/*  text-align: center;*/
  position: relative;
  text-align: center;
  bottom: 20px;

}

.iconone{
  color: white;
  position: absolute;
  font-size: 70px;
  top: 10px;
  left: 50px;

}

.hrr{
  width: 99.5%;
  position: absolute;
  top: 70px;
}


.try{

  position: relative;
}


.left{
  border: 5px solid #4e4e50;
  position:relative;
  left:7%;
  bottom: 370px;

}



.right{
  border: 5px solid #4e4e50;
  position:relative;
  left:75%;
  bottom: 370px;
}


.img{
  display: flex;
  margin-top: 100px
}

.mypic{
  border: 3px solid #4e4e50;
  margin-left: 22em;

}

.head{
  font-size: 50px;
  /*border: 5px solid #4e4e50;
  width: 800px;
  height: 300px;*/
  margin-left: 50px;
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  color: white;

}

.center{
  border: 2px solid #4e4e50;
  position: relative;
  left:16vw;
  bottom: 10em;


}

.para{
  font-size: 20px;
  margin-left: 50px;
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  color: white;

}

.textthree{
  padding-left: 30px;
}


.ncommon{
  margin-top: 70px;
  margin-left: 70px;
}

.common{
  padding-left:  4.5em;
  text-decoration: none;
  font-size: 23px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  text-transform: uppercase;
  transition: transform 0.5s;
}



.common:hover{
	color: #f35626;
	background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 5s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(45deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
